.releases-header {
    padding: 16px;
    border-bottom: 12px solid #dadada;
}

.releases {
    padding-left:12px;
    font-weight:24px;
    font-size:24px
}

.release-button {
    padding: 24px 12px
}

.input-search {
    padding: 24px 12px
}